body{
    padding: 0;
    margin: 0;
}
img {
    width: 100%;
}
header{
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    background-color: cornflowerblue;
}
section{
    display: flex;
}
.src_frm{
    position: static;
    width: 100%;
    background: skyblue;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.src_frm.on{
    position: fixed;
    top: 0;
}
.src_frm button{
    border: none;
    width: 100px;
    height: 20px;
    font-size: 12px;
    background-color: #111;
    color: #fff;
    font-weight: 700;
}
.src_frm input{
    border: none;
    height: 20px;
    text-align: center;
    font-size: 12px;
}
#movie-container{
    display: flex;
    flex-wrap: wrap;
    background: #000;
}
.movie-card{
    background: #fff;
    width: calc(33.333% - 40px);
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.movie-card h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.movie-card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}